<div id="title">
    <% if (locals.title_id != undefined) { %>
    <h1 id="<%= locals.title_id %>"><%- title %></h1>
    <% } else { %>
    <h1><%- title %></h1>
    <% } %>
    <span id="developped_acronym"><%- subtitle %></span>
</div>