<style>
    :root {
        --blue: #00A4E1;
        --blue-darker: #019dd5;
        --dark-back: #303036;
        --grey-back: #fbfbfe;
        --grey-border: #9e9e9e;
        --grey-text: #acacb6;
        --red-error: #ff5d5d;
    }
    
    @keyframes showing {
        0% {right: -100%;}
        40%, 55%, 80% {right: 3%;}
        45% {right: 3.1%;}
        50% {right: 2.9%;}
    }

    @keyframes disappear {
        0% {right: -100%;}
        70%, 85%, 100% {right: 3%;}
        75% {right: 3.1%;}
        80% {right: 2.9%;}
    }

    #popup_modal {
        display: none;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        position: absolute;
        top: 5%;
        right: 3%;

        background-color: var(--grey-back);
        min-width: 15vw;
        max-width: 25vw;
        padding: 1em;

        border-radius: 5px;

        color: var(--dark-back);

        cursor: pointer;

        box-shadow: 0px 2px 14px #023A3944;
    }
    
    #popup_modal svg {
        width: 0.8em;
        margin-right: 20px;
        fill: var(--red-error);
    }

    .popup_modal_show {
        animation: showing 3s;
    }
    
    .popup_modal_hide {
        animation: disappear ease-in-out 1.5s reverse;
    }

</style>

<div id="popup_modal">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50"/>
    </svg>
    <span></span>
</div>

<script>
    var popup = document.getElementById("popup_modal")
    popup.addEventListener("click", (e) => { disappearPopupInfo() })

    function showPopupInfo(error) {
        popup.style.display = "flex"
        popup.children[1].innerHTML = error
        popup.classList.add("popup_modal_show")
    }

    function disappearPopupInfo() {
        popup.classList.add("popup_modal_hide")
        popup.classList.remove("popup_modal_show")
        new Promise(r => setTimeout(r, 1500)).then(() => popup.style.display = "none")
    }

    function removePopup() {
        popup.classList.remove("popup_modal_show")
    }
</script>