<style>
    @keyframes showing {
        0% {right: -100%;}
        40%, 55%, 80% {right: 3%;}
        45% {right: 3.1%;}
        50% {right: 2.9%;}
    }

    @keyframes disappear {
        0% {right: -100%;}
        70%, 85%, 100% {right: 3%;}
        75% {right: 3.1%;}
        80% {right: 2.9%;}
    }

    #popup_modal {
        display: none;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        position: absolute;
        top: 5%;
        right: 3%;

        background-color: #303036;
        min-width: 15vw;
        max-width: 25vw;
        padding: 1em;

        border-radius: 5px;
        color: #ccc;

        cursor: pointer;

        box-shadow: 1px 1px 5px #9999EB;
    }
    
    #popup_modal svg {
        width: 0.8em;
        margin-right: 20px;
        fill: #9999EB;
    }

    .popup_modal_show {
        animation: showing 3s;
    }
    
    .popup_modal_hide {
        animation: disappear ease-in-out 1.5s reverse;
    }

</style>

<div id="popup_modal">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50"/>
    </svg>
    <span></span>
</div>