* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(88, 176, 219);
    color: #fff;
    text-shadow: 1px 1px 5px rgb(16, 92, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
}