:root {
    --main-color: #ffcb69; /* Couleur principale du site, utilisé pour les bordures */
    --main-color-light: #ffcb69;
    --main-color-lighter: #ffcb69;
    --main-color-dark: #e8ac65;
    --main-color-darker: #EAB371;
    --main-color-darkest: #D58320;
    
    --input-border: #ccc;

    --text-light: #AAAAAA;
}

@keyframes wave {
    25%, 75% { transform: rotate(-10deg); }
    50%  { transform: rotate(10deg); }
  }

* {
    margin: 0;
}

.formatted_text {
    font-family: monospace;
}

body {
    overflow-x: hidden;
}

header {
    grid-area: header;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 50%;
    align-items: center;
}

div[id=title] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
}

header h1 {
    font-family: "vistol_sansbold";
    font-size: 4em;
    margin: 0 0 -10px 0;
}

header h1::after {
    display: block;
    position: absolute;
    white-space: nowrap;
    content: "";
    height: 20px;
    background-color: var(--main-color);
    margin-top: -50px;
    z-index: -1;
}


header span[id=developped_acronym] {
    font-size: smaller;
    color: var(--text-light);
}

footer {
    grid-area: footer;
    align-self: flex-end;
    justify-self: center;
}

footer p {
    margin: 5px;
    font-size: 0.7em;
    color: var(--text-light);
}

a, a:visited {
    color: var(--main-color-darkest);
    text-decoration: none;
}